body {
    background-color: #78361e;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    margin: 0;
  }
  
  .container {
    color: rgb(48, 65, 176);
    background-image: url(https://i.pinimg.com/474x/8f/56/76/8f5676d7ab7bc52747fca59d56bbb49c.jpg); 
    border-style: solid;
    border-color: black;
    background-size: contain;
    width: auto;
    height: 175px;
  }
  
  h1 { text-align: center; }
  
  .list-nav {
    text-align: right;
    text-decoration: none;
    text-shadow: none;
    margin-top: -20px;
  }

  .navbar ul li {
    flex: 1;
    list-style: none;
    display: inline-block;
    padding: 5px 12px;
    position: relative;
    text-align: center;
    margin-right: 10px;
  }

  .navbar ul li a{
    color: #31E1F7;
    text-decoration: none;
    font-size: 18px;
  }

  .navbar ul li ::after {
    content: '';
    width: 0%;
    height: 2px;
    background: white;
    display: block;
    margin: auto;
    transition: 0.5s;
  }

  .navbar ul li :hover::after {
    width: 100%;
  }
  
  .content-header{ margin-bottom: 50px;
    text-align: center;
  }
  
  .content-text {
     font-size: 50px;
  }
  
  #content-img {
    min-height: 75px;
    text-align: center;
    margin-top: -200px;
  }
  
  #content-img img {
    max-width: 100%;
    border-style: solid;

  }
  .gallery-img{
    justify-content: center;
    flex: 31%;
    height: 150px;
    width: 150px;
    transition: 1s;
  }

  .gallery-img:hover{
    border-radius: 50%;
    transition: 0.5s;
    transition-delay: 0.3s;
  }

  .content1 {
      padding: 15%;
      font-size: 15px;
    }
  .section {
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
  }
  
  .section-small {
    max-width: 490px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    text-align: center;
  }
  
  .section-header {
    color: #996633;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  
  hr {
    width: 60%;
    border: 0.5px solid #ccc;
  }
  
  table {
    width: 100%;
    border-spacing: 0;
    padding-bottom: 20px;
  }
  
  th {
    color: #000000;
    font-weight: 400;
    font-size: 1.2rem;
    padding-left: 15px;
    padding-right: 15px;
  }
  
  td {
    text-align: center;
    padding: 10px 15px;
  }
  
  .text-left { text-align: left; }
  tr:nth-child(odd) { background-color: #eee5dc; }
  
  tr.tr-header {
    background-color: #cfae8b;
    height: 50px;
  }
  
  .footer-text {
    font-size: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
  }

  @media screen and (max-width: 360px) {
    .navbar{
      margin-top: 10px;
      text-align: center;
    }

    .navbar ul li a{
      color: gold;
    }

    .gallery {
      margin-top: 200px;
      margin-bottom: 5px;

    }
  }